$white-light: #F4F7FB;
$white: #EDF1F7;
$white-dark: #E5E9EF;

$gray-light: #B5B6B8;
$gray: #A1A3A5;
$gray-dark: #959698;

$primary-light: #CFB5D6;
$primary: #9482c9;
$primary-dark: #6E3C6F;

$secondary: #A4D390;
$secodnary-dark: #60a542;
